<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="about_content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur modi quidem fugiat magnam autem numquam quo aliquid perferendis voluptas laborum accusamus vero nostrum, temporibus repellat beatae doloribus ipsam. Deserunt, rem? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit fuga, dolor eum porro, eos aut voluptatem explicabo distinctio illum iure quae labore? Nisi hic tempora vero atque laborum esse quis, fugiat id enim inventore odit, ullam possimus eaque, maiores optio doloremque magnam dolor nostrum ea! Similique totam quibusdam nobis veritatis quos, sapiente illo voluptates sunt aliquid quia consectetur saepe quod exercitationem aut suscipit amet minus ducimus deserunt repellat ullam perferendis soluta! Eveniet cupiditate voluptate dolorem sint incidunt eaque! Ullam laborum quidem voluptatem. Ab reiciendis sequi hic est. Quidem, repellat est accusantium aliquam eos repellendus recusandae laboriosam numquam dolore aspernatur vel.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur modi quidem fugiat magnam autem numquam quo aliquid perferendis voluptas laborum accusamus vero nostrum, temporibus repellat beatae doloribus ipsam. Deserunt, rem? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit fuga, dolor eum porro, eos aut voluptatem explicabo distinctio illum iure quae labore? Nisi hic tempora vero atque laborum esse quis, fugiat id enim inventore odit, ullam possimus eaque, maiores optio doloremque magnam dolor nostrum ea! Similique totam quibusdam nobis veritatis quos, sapiente illo voluptates sunt aliquid quia consectetur saepe quod exercitationem aut suscipit amet minus ducimus deserunt repellat ullam perferendis soluta! Eveniet cupiditate voluptate dolorem sint incidunt eaque! Ullam laborum quidem voluptatem. Ab reiciendis sequi hic est. Quidem, repellat est accusantium aliquam eos repellendus recusandae laboriosam numquam dolore aspernatur vel.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur modi quidem fugiat magnam autem numquam quo aliquid perferendis voluptas laborum accusamus vero nostrum, temporibus repellat beatae doloribus ipsam. Deserunt, rem? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit fuga, dolor eum porro, eos aut voluptatem explicabo distinctio illum iure quae labore? Nisi hic tempora vero atque laborum esse quis, fugiat id enim inventore odit, ullam possimus eaque, maiores optio doloremque magnam dolor nostrum ea! Similique totam quibusdam nobis veritatis quos, sapiente illo voluptates sunt aliquid quia consectetur saepe quod exercitationem aut suscipit amet minus ducimus deserunt repellat ullam perferendis soluta! Eveniet cupiditate voluptate dolorem sint incidunt eaque! Ullam laborum quidem voluptatem. Ab reiciendis sequi hic est. Quidem, repellat est accusantium aliquam eos repellendus recusandae laboriosam numquam dolore aspernatur vel.</p>
    </div>

    <%- include('./partials/footer.ejs')  %>
    
</body>
</html>